@mixin flexCol{
  display: flex;
  flex-direction: column;
}

@mixin weatherInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

@mixin weatherInfoSm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@mixin media-up($breakpoint) {
  @media screen and ( min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}